.navbar{
    background-color:#045FB4;
}

.quem-somos{
    background-color: cornflowerblue;
    color: white;
}
.margin{
    padding-bottom: 50px;
}
.parceiros{
     background-color:tomato;

}
.servicos{
    background-color: white;
    
}
.bg-footer{
    background-color: black;
    color: white;
}

